################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Морской_Бой/v16/Server/sqlite3/db.lock
